<!-- #FOOTER
  ------------------------------------------------------------------>

  <footer class="l-footer">

    <!-- footer - copyright -->
    <div class="copyright">

      <div class="copyright-container">

        <a href="http://www.sftech.ch" class="copyright-logo">
          <img src="../img/svg/sftech_logo.svg" alt="">
        </a>
        
        <div class="copyright-text">
          <ul>
            <li><strong>SF TECH</strong> Sarl</li>
            <li>Route du Verney 18</li>
            <li>1070 Puidoux</li>
            <li>Switzerland</li>
            <li>+41 (0)21 946 29 88</li>
          </ul>
        </div>

      </div>
      
      <div class="copyright-copy">
        <p>©Copyright 2007-2018 SF Tech Sarl. All rights reserved</p>
      </div>

    </div>

  </footer>